<!--https://github.com/JTruax/bootstrap-starter-template/blob/master/template/start.html-->
<!--Criação de um menu-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">

</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">Estoque</a> <!-- Define o nome do menu -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto"> <!-- Nome e links do menu-->
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'core:index' %}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'produto:produto_list' %}">Produtos</a>
                </li>

                <li class="nav-item dropdown"> <!-- Nome da lista que contém outros menus -->
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Estoque</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="{% url 'estoque:estoque_entrada_list' %}">Entrada</a>
                        <a class="dropdown-item" href="#">Saída</a>
                    </div>
                </li>
            </ul>
            <!-- Sistema de busca no menu
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
            -->
        </div>
    </nav>
</body>
</html>