<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% extends "base.html" %}

    {% block content %}
    <!-- Template de mensagem inicial simpes -->
    <div class="jumbotron">
        <div class="container">
            <h1>Bem-vindo!</h1>
            <p>Este é um sistema para controle de estoque.</p>
            <p> <a href="https://github.com/rg3915/estoque">Veja no GitHub </a></p>
        </div>
    </div>

    {% endblock content %}
</body>
</html>