{% extends "base.html" %}

<!-- https://github.com/jazzband/django-widget-tweaks -->
{% load widget_tweaks %}

{% block css %}
    <style>
        span.required:after{
            content: " *";
            color: red;
            }
    </style>
{% endblock css %}

{% block content %}

    <form method="POST" novalidate>
        {% csrf_token %} <!-- para postar no formulario -->
        {% for field in form.visible_fields %}
            <div class="form-group{% if field.errors %} has-error {% endif%}">
                <label for="{{ field.id_for_label }}">
                    {% if field.field.required %}
                        <span class="required">{{ field.label }}</span>
                    {% else %}
                        {{ field.label }}
                    {% endif %}
                </label>
                {% render_field field class="form-control" %}
                {% for error in field.errors %}
                    <span class="text-muted">{{ error }}</span>
                {% endfor %}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-success">Cadastrar</button>
    </form>

{% endblock content %}

{% block js %}
    <script>
        $('#id_importado').removeClass('form-control')
    </script>
{% endblock js %}