{% extends "base.html" %}

{% block content %}
<div class="page-header">
    <h2>Lista de Produtos
        <!-- Criando um botão para adicionar que vai para protudo_form.html -->
        <span class="pull-right">
            <a href="{% url 'produto:produto_add' %}  ">
                <button type="button" class="btn btn-primary">
                    <span class="fa fa-plus"></span>Adicionar
                </button>
            </a>
        </span>
    </h2>

    {% if object_list %}
        <!-- Criação da tabela para exibir as lista de produtos-->


        <table class="table table-striped">
            <thead>
                <tr> <!-- Coluna da tabela -->
                    <th>Importado</th>
                    <th>NCM</th>
                    <th>Produto</th>
                    <th>Preço</th>
                    <th class="text-center">Estoque</th>
                    <th class="text-center">Estoque mínimo</th>
                </tr>
            </thead>

            <tbody>
            {% for object in object_list %}
                <tr>
                    <td>
                        {% if object.importado %} <!-- Caso objeto for importado, faça: -->
                            <i class="fa fa-check-circle ok"></i>
                        {% else %}
                            <i class="fa fa-minus-circle no"></i>
                        {% endif %}
                    </td>
                    <td>{{ object.ncm }}</td>
                    <td>
                        <a href="{{ object.get_absolute_url }}"> {{ object.produto }} </a>
                    </td>
                    <td>R$ <span class="pull-right">{{ object.preco }}</span></td>
                    <td class="text-center">{{ object.estoque }}</td>
                    <td class="text-center">{{ object.estoque_minimo }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %} <!-- Caso não tenha na lista de produto -->
        <p class="alert alert-warning">Sem itens na lista.</p>
    {% endif %}
</div>

{% endblock content %}